.game {
  background-color: #fff;
  margin: 0;
}

.expandToggleWrapper {
  background-color: #eee;
  margin: -8px 0;
}

.expandToggle {
  font-size: 45px;
}

.fire {
  color: red;
  font-size: 2em !important;
  margin-top: 10px;
}

.wind {
  color: dodgerblue;
  font-size: 2em !important;
  margin-top: 10px;
}

.count {
  color: #aaa;
}

.myForecast {
  float: none !important;
  width: 100% !important;
}